@import url(https://db.onlinewebfonts.com/c/ba155473d72fb574bd945b20f4598560?family=Montserrat-Alt1+SemBd);
@import url(https://db.onlinewebfonts.com/c/29295d2928c6bd76a76c9e789982bc85?family=Montserrat-Alt1+Med);

@font-face {
  font-family: "Montserrat-Alt1 SemBd";
  src: url("https://db.onlinewebfonts.com/t/ba155473d72fb574bd945b20f4598560.eot");
  src: url("https://db.onlinewebfonts.com/t/ba155473d72fb574bd945b20f4598560.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ba155473d72fb574bd945b20f4598560.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ba155473d72fb574bd945b20f4598560.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ba155473d72fb574bd945b20f4598560.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ba155473d72fb574bd945b20f4598560.svg#Montserrat-Alt1 SemBd")
      format("svg");
}

@font-face {
  font-family: "Montserrat-Alt";
  src: url("https://db.onlinewebfonts.com/t/29295d2928c6bd76a76c9e789982bc85.eot");
  src: url("https://db.onlinewebfonts.com/t/29295d2928c6bd76a76c9e789982bc85.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/29295d2928c6bd76a76c9e789982bc85.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/29295d2928c6bd76a76c9e789982bc85.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/29295d2928c6bd76a76c9e789982bc85.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/29295d2928c6bd76a76c9e789982bc85.svg#Montserrat-Alt1 Med")
      format("svg");
}

body {
  font-family: "Montserrat-Alt1 SemBd";
  background: linear-gradient(
    to bottom,
    #ded2c2 0%,
    #e9e1d6 60%,
    #f5f2ec 70%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
}
placeholder {
  font-family: "Montserrat-Alt1";
}

/* **************************************************************** */
/* main */
/* **************************************************************** */
