/* side bar */
.filter {
  margin-top: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.list-group {
  background-color: black;
}
/* product */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  align-items: start;
  justify-items: center;
  justify-content: center;
}
.product {
  position: relative;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  width: 260px;
  margin: 30px;
  min-width: 230px;
  height: 300px;
  border-radius: 10px;
  transition: 0.3s;
}
.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
  height: 180px;
  display: grid;
  place-items: center;
}
.image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
}
.name_price {
  padding: 10px 0;
  font-size: 15px;
}
.name_price h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: #0d464c;
}
.name_price span {
  font-size: 1.5em;
  color: #f05928;
}
.product p {
  font-size: 14px;
}
/* rate */
.stars .fa-star {
  font-size: 1em;
  color: #f05928;
  margin-bottom: 42px;
  background-color: #0d464c00;
  border: none;
}
.add-cart {
  position: absolute;
  right: 20px;
  top: 10px;
}

.add-cart button {
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.427);
  background-color: #b5b9bac9;
  color: #0d464c;
}
.add-cart button:hover {
  color: white;
  background-color: #0d464c;
}
.add-cart button:focus {
  color: white;
  background-color: #0d464c;
}
