<!-- panal -->
<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/111.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="images/222.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="images/333.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- cards -->
<div class="cards">
  <!-- Electronics 1: mobile laptop tablet smart watch -->
  <div class="card-product">
    <h5 class="card-title mb-3">Fashions</h5>
    <div class="card-grid">
      <figure class="figure">
        <a id="products">
          <img
            src="images/category/1.2women.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">Womwen Fashion's</figcaption>
      </figure>

      <figure class="figure">
        <a id="products">
          <img
            src="images/category/1.1men.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">Men Fashions</figcaption>
      </figure>

      <figure class="figure">
        <a href="products">
          <img
            src="images/category/1.4kids.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">Kids Fashions</figcaption>
      </figure>

      <figure class="figure">
        <a href="products">
          <img
            src="images/category/1.3baby.jpeg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">Baby</figcaption>
      </figure>
    </div>
  </div>
  <!-- shoes & bags -->
  <div class="card-product">
    <h5 class="card-title mb-3">Shoes & Bags</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/1.5bags.jpeg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">Womwen bags</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/1.6shoes.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">women shoes</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/1.7menShoes.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">men shoes</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/1.8BabyShoes.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">baby shoes</figcaption>
      </figure>
    </div>
  </div>
  <!-- electronics -->
  <div class="card-product">
    <h5 class="card-title mb-3">Smart</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.1phone.jpeg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">phone</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.2laptop.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">laptops</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.3tap.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">taps</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.4smartWatch.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">smart watch</figcaption>
      </figure>
    </div>
  </div>
  <!-- electronics -->
  <div class="card-product">
    <h5 class="card-title mb-3">electronics</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.5earbuds.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">earbuds</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.6TV.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">TV</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/2.7cameras.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">Cameras</figcaption>
      </figure>
    </div>
  </div>

  <!-- toys -->
  <div class="card-product">
    <h5 class="card-title mb-3">Toys</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/3.1education.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">education toys</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/3.2building.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">building toys</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/3.3remot.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">remot control</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/3.4doll.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">Doll</figcaption>
      </figure>
    </div>
  </div>
  <!-- sports -->
  <div class="card-product">
    <h5 class="card-title mb-3">Sports</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/4.1fitness.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">fitness</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/4.2sportwear.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">sport wear</figcaption>
      </figure>
    </div>
  </div>

  <!-- jewelry -->
  <div class="card-product">
    <h5 class="card-title mb-3">Jewelry</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/5.1jewelry.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">jewelry</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/5.2watch.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">watch</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/5.4watch2.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">men watch</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/5.3sunglass.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">sunglass</figcaption>
      </figure>
    </div>
  </div>

  <!-- back to school -->
  <div class="card-product">
    <h5 class="card-title mb-3">Back To School</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/6.1bags.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">bags</figcaption>
      </figure>
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/6.2.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">books</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/6.3stickers.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">stickers</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/6.4bottles.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">bottles</figcaption>
      </figure>
    </div>
  </div>

  <!-- care -->
  <div class="card-product">
    <h5 class="card-title mb-3">routin care</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.1.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">nail care</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.2.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">hair care</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.8.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">men perfume</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.4.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">women perfume</figcaption>
      </figure>
    </div>
  </div>

  <!-- care -->
  <div class="card-product">
    <h5 class="card-title mb-3">care</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.3.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.5.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.6.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/7.7.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">....</figcaption>
      </figure>
    </div>
  </div>
  <!-- kitchen -->
  <div class="card-product">
    <h5 class="card-title mb-3">care</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/8.1.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/8.2.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>
    </div>
  </div>
  <!-- grocery -->
  <div class="card-product">
    <h5 class="card-title mb-3">care</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img src="" class="figure-img img-fluid rounded" alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img src="" class="figure-img img-fluid rounded" alt="..."
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img src="" class="figure-img img-fluid rounded" alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img src="" class="figure-img img-fluid rounded" alt="..."
        /></a>
        <figcaption class="figure-caption">....</figcaption>
      </figure>
    </div>
  </div>

  <!-- agricultural pharmacy -->
  <div class="card-product">
    <h5 class="card-title mb-3">care</h5>
    <div class="card-grid">
      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/9.4.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/9.2.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/9.3.jpg"
            class="figure-img img-fluid rounded"
            alt=""
        /></a>
        <figcaption class="figure-caption">..</figcaption>
      </figure>

      <figure class="figure">
        <a href="/products">
          <img
            src="images/category/9.1.jpg"
            class="figure-img img-fluid rounded"
            alt="..."
        /></a>
        <figcaption class="figure-caption">....</figcaption>
      </figure>
    </div>
  </div>
</div>
