<div class="container-products" id="products-cards">
  <!-- side bar (sub categories) -->
  <div class="filter">
    <!-- fashion -->
    <ul class="list-group" style="margin-top: 30px">
      <!-- gender -->
      <div>
        <li class="col-auto">Gender:</li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault"> women </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
            checked
          />
          <label class="form-check-label" for="checkChecked"> men </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
            checked
          />
          <label class="form-check-label" for="checkChecked"> kids </label>
        </div>
      </div>

      <!-- size -->
      <div>
        <li>Size:</li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault"> women </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> men </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> kids </label>
        </div>
      </div>

      <!-- color -->
      <div>
        <li>Color:</li>
        <div class="color-filter">
          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-white" />
            <label class="color-label" for="color-white">
              <span
                class="swatch white"
                style="background-color: #ffffff"
              ></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-black" />
            <label class="color-label" for="color-black">
              <span class="swatch black" style="background-color: black"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-gray" />
            <label class="color-label" for="color-gray">
              <span class="swatch gray" style="background-color: gray"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-pink" />
            <label class="color-label" for="color-pink">
              <span class="swatch pink" style="background-color: pink"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-purple" />
            <label class="color-label" for="color-purple">
              <span
                class="swatch purple"
                style="background-color: purple"
              ></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-green" />
            <label class="color-label" for="color-green">
              <span class="swatch green" style="background-color: green"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-blue" />
            <label class="color-label" for="color-blue">
              <span class="swatch blue" style="background-color: blue"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-brown" />
            <label class="color-label" for="color-brown">
              <span class="swatch brown" style="background-color: brown"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-beige" />
            <label class="color-label" for="color-beige">
              <span class="swatch beige" style="background-color: beige"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-red" />
            <label class="color-label" for="color-red">
              <span class="swatch red" style="background-color: red"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-navy" />
            <label class="color-label" for="color-navy">
              <span class="swatch navy" style="background-color: navy"></span>
            </label>
          </div>

          <div class="form-check">
            <input class="color-input" type="checkbox" id="color-yellow" />
            <label class="color-label" for="color-yellow">
              <span
                class="swatch yellow"
                style="background-color: yellow"
              ></span>
            </label>
          </div>
        </div>
      </div>
      <!-- item type -->
      <div>
        <li>item type</li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault"> dress </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> blouse </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> shirt </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> jacet </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> pants </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> suit </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> pijamas </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> abaya </label>
        </div>
      </div>
      <!-- shoes type -->
      <div>
        <li>shoes type:</li>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault"> sport </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> formal </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> sandal </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> boot </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> heel </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkChecked"
          />
          <label class="form-check-label" for="checkChecked"> slippers </label>
        </div>
      </div>

      <!-- jewelry -->
      <!-- electronics -->
      <!-- home & kitchen -->
      <!-- personal care -->
      <!--  -->
    </ul>
  </div>

  <div class="main">
    <!-- products -->
    <div class="container">
      <div class="header">
        <h1>products</h1>
      </div>
      <!-- make products a responsive grid; cards won't shrink below 230px -->
      <div class="products">
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->
          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- 1 -->
        <div class="product" data-product-id="p1">
          <a href="product_details.html" style="cursor: pointer">
            <div class="image">
              <img src="images/category/phone.jpeg" alt="" />
            </div>
          </a>
          <div class="name_price">
            <h3>Product Name</h3>
            <span>20$</span> <span>/</span> <span>220,000SPY</span>
          </div>
          <p>description about this product...</p>
          <!-- <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div> -->

          <div class="add-cart">
            <button
              type="button"
              class="add-btn"
              data-id="p1"
              aria-pressed="false"
              title="Add to cart"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-cart-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"
                />
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background-color: #ffffff;
  }
  .container-products {
    display: none;
    grid-template-columns: 20% auto;
    gap: 20px;
  }
  /* side bar */
  .filter {
    /* margin-top: 20px; */
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); */
  }
  .list-group {
    background-color: rgb(207, 207, 207);
    padding: 10px;
    margin: 4px;
    list-style: none;
  }
  /* product */

  .header {
    width: 100%;
    text-align: center;
  }
  .header h1 {
    text-transform: uppercase;
    color: #f05928;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: start;
  }

  .product {
    position: relative;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    width: 200px;
    min-width: 230px;
    height: 340px;
    padding: 10px 10px 30px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .product:hover {
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .image {
    width: 100%;
    height: 180px;
    display: grid;
    place-items: center;
  }
  .image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
  }
  .name_price {
    /* padding: 10px 0; */
    font-size: 15px;
  }
  .name_price h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: #0d464c;
  }
  .name_price span {
    font-size: 14px;
    font-weight: bold;
    color: #f05928;
  }
  .product p {
    font-size: 12px;
  }
  .stars .fa-star {
    font-size: 1em;
    color: #f05928;
    background-color: #0d464c00;
    border: none;
  }
  .add-cart {
    position: absolute;
    right: 20px;
  }

  .add-cart button {
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.427);
    background-color: #b5b9bac9;
    color: #0d464c;
  }
  .add-cart button:hover {
    color: white;
    background-color: #0d464c;
  }
  .add-cart button:focus {
    color: white;
    background-color: #0d464c;
  }

  /* color checkboxes */
  .color-filter {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .color-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .swatch {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 22px;
  }

  /* show selected state */
  .color-input:checked + .color-label .swatch {
    box-shadow: 0 0 0 3px #000000cc, inset 0 0 0 1px rgba(255, 255, 255, 0.781);
    transform: scale(0.92);
  }

  /* show a checkmark on darker swatches for clarity */
  .color-input:checked + .color-label .swatch::after {
    content: "";
    display: block;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    color: white;
  }
  /* white swatch checkmark color override */
  .color-input:checked + .color-label .swatch.white::after {
    color: #0d464c;
  }
</style>

<script>
  const products = decument.getElementById("products");
  const productsCard = document.getElementById("products-card");
  // Open modal when login button is clicked
  products.addEventListener("click", function () {
    productsCard.style.display = "grid";
  });
</script>
