<nav>
  <div class="navbar1">
    <a class="logo">
      <img class="img-fluid" src="images/logo_wep___.png" alt="logo" />
    </a>

    <div class="grid-2">
      <button
        type="button"
        class="btn button-gift"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Gift arrangement"
      >
        <i class="fa-solid fa-gift"></i>
      </button>

      <!-- search -->
      <div class="search-container">
        <div class="search-box">
          <div class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              ></path>
            </svg>
          </div>

          <input
            type="text"
            class="search-input"
            placeholder="What are you searching for?"
          />

          <div class="category-dropdown">
            <button class="category-select">All</button>
            <ul class="category-menu">
              <li>All</li>
              <li>Best Seller</li>
              <li>Fashion</li>
              <li>Electronics</li>
              <li>Sport</li>
              <li>School</li>
              <li>Jewelry</li>
              <li>Kitchen & Home</li>
              <li>Toys</li>
              <li>Beauty & Makeup</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <ul class="grid-3">
      <!-- lang -->
      <li class="category-dropdown">
        <button class="lang-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-translate"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"
            />
            <path
              d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"
            />
          </svg>
        </button>
        <ul class="category-menu">
          <li>English</li>
          <li>العربية</li>
        </ul>
      </li>

      <!-- before sign -->
      <li class="sign-in">
        <button type="button" class="login-btn nav-btn btn" id="loginBtn">
          <a role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span class="btn-text"
              ><a class="aa" href="/signin">Sign In</a></span
            >
          </a>
        </button>
      </li>

      <!-- after sign -->
      <li class="profile">
        <div class="dropdown after-s" id="after_s">
          <button class="profile-btn">
            <i class="fa-solid fa-user"></i>
            <span class="btn-text">full name</span>
          </button>
          <ul class="profile-menu">
            <li><a href="#">Edit profile</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Settings</a></li>
            <li><hr /></li>
            <li>
              <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- cart -->
      <li class="cart">
        <button
          class="btn position-relative nav-btn"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="btn-text"> Cart </span>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill num"
          >
            0
          </span>
        </button>
      </li>
    </ul>
  </div>

  <div class="container-fluid navbar2">
    <ul class="nav-link">
      <li><a class="nav-link- mart" href="#">Tulip Mart</a></li>

      <li><a class="nav-link-" href="#">Today's Deal</a></li>

      <li><a class="nav-link-" href="#"> Gift Cards</a></li>
    </ul>
  </div>
</nav>

<style>
  placeholder {
    font-family: "Montserrat-Alt1";
  }
  nav {
    width: 100%;
    background-color: #ffffff33;
    backdrop-filter: blur(20px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: sticky;
    z-index: 1000;
    top: 0;
  }
  .navbar1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
  }

  .logo img {
    width: 150px;
    min-width: 140px;
    padding: 0px;
  }
  .grid-2 {
    height: 20px;
    padding: 26px;
    display: flex;
    gap: 10px;
  }

  /* gift */
  .button-gift {
    background: #ffffff9f;
    box-shadow: 2px 1px 8px #000000a2;
    color: #0d464c;
    font-weight: bold;
    border-radius: 40px;
    height: 35px;
    position: relative;
    text-align: center;
    /* transition: background 0.7s; */
  }

  .button-gift:hover {
    background: #0d464c;
    color: #ffffff;
  }
  .custom-tooltip.bs-tooltip-auto[data-popper-placement^="bottom"]
    .tooltip-arrow::before,
  .custom-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #0d464c;
  }

  .custom-tooltip .tooltip-inner {
    background-color: #fff;
    color: #0d464c;
    font-weight: bold;
    border: 2px solid #0d464c;
    box-shadow: 2px 1px 8px #000000a2;
  }

  /* search */
  .search-container {
    width: 450px;
    max-width: 430px;
    min-width: 100px;
  }

  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0 15px;
    height: 35px;
    font-size: 16px;
    box-shadow: 2px 1px 8px #000000a2;
    transition: box-shadow 0.2s;
    background-color: #ffffff9f;
  }

  .search-box:hover,
  .search-box:focus-within {
    border-color: rgba(223, 225, 229, 0);
  }
  .search-icon svg {
    width: 22px;
    fill: #0d464c;
    margin-right: 3px;
    cursor: pointer;
  }

  .search-icon :hover {
    fill: #f05928;
    width: 26px;
    transition: 0.2s;
    cursor: pointer;
  }

  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    height: 100%;
    background: transparent;
  }

  .category-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-select {
    min-width: 0;
    width: auto;
    white-space: nowrap;
    border: none;
    background: transparent;
    font-size: 15px;
    text-align: right;
    color: #0d464c;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }

  .category-select:hover {
    color: #0d464c;
  }

  .category-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffffee;
    box-shadow: 0 2px 8px #00000045;
    list-style: none;
    padding: 5px 0;
    border-radius: 8px;
    z-index: 1000;
    min-width: 0;
    width: auto;
    white-space: nowrap;
  }

  .category-dropdown:hover .category-menu,
  .category-dropdown:focus-within .category-menu {
    display: block;
  }

  .category-menu li {
    padding: 8px 15px;
    color: #0d464c;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
  }

  .category-menu li:hover {
    background: #0d464c;
    color: #fff;
    border-radius: 5px;
  }

  .grid-3 {
    display: flex;
    gap: 10px;
    list-style: none;

    padding: 26px;
  }
  .btn-text {
    color: #0d464c;
    display: inline;
  }
  .aa {
    text-decoration: none;
    color: #0d464c;
  }
  /* lang */

  .lang-btn {
    background: #ffffff9f;
    box-shadow: 2px 1px 8px #000000a2;
    border: none;
    border-radius: 40px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    outline: none;
    color: #0d464c;
    padding: 3px;
  }

  .lang-btn svg {
    width: 22px;
    height: 20px;
  }
  .lang-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f7faff;
    box-shadow: 2px 1px 8px #000000a2;
    border-radius: 5px;
    list-style: none;
    padding: 5px 0;
    min-width: 60px;
    text-align: center;
    z-index: 1000;
  }

  .lang:hover .lang-menu,
  .lang:focus-within .lang-menu {
    display: block;
  }

  .lang-menu li {
    padding: 12px;
    font-size: 14px;
    font-weight: 800;
    color: #0d464c;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap;
    min-width: 0;
    width: auto;
    white-space: nowrap;
  }

  .lang-menu li:hover {
    background-color: #0d464c;
    color: #fff;
    border-radius: 20px;
  }
  /* sign in */
  .sign-in button {
    background: #ffffff9f;
    box-shadow: 2px 1px 8px #000000a2;
    color: #0d464c;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: auto;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
  }
  /* after sign in */
  .after-s {
    position: relative;
    display: none;
  }

  .profile-btn {
    background: #ffffff9f;
    box-shadow: 2px 1px 8px #000000a2;
    color: #0d464c;
    border: none;
    border-radius: 40px;
    height: 35px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    outline: none;
  }

  .profile-btn::after {
    display: none;
  }

  .profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #ffffffee;
    box-shadow: 2px 1px 8px #000000a2;
    border-radius: 15px;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 5px 0;
    min-width: 150px;
    z-index: 1000;
  }

  .dropdown:hover .profile-menu,
  .dropdown:focus-within .profile-menu {
    display: block;
  }

  .profile-menu li a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    font-size: 14px;
    color: #0d464c;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
  }

  .profile-menu li a:hover {
    background-color: #0d464c;
    color: #fff;
    border-radius: 8px;
  }

  .profile-menu hr {
    margin: 5px 0;
    border: 0.5px solid #ccc;
  }

  ul a .dropdown-item {
    color: red;
  }

  /* cart */
  .cart button {
    display: inline;
    background: #ffffff9f;
    box-shadow: 2px 1px 8px #000000a2;
    color: #0d464c;
    border: none;
    border-radius: 40px;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
    width: auto;
  }

  .num {
    background-color: #f05928;
    box-shadow: inset 2px 2px 4px rgba(163, 177, 198, 0.6),
      inset -2px -2px 4px #752b13;
  }

  .navbar2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff00;
    backdrop-filter: blur(10px);
    position: relative;
    /* box-shadow: 2px 1px 8px #000000a2; */
  }
  .nav-link {
    display: flex;
    gap: 13px;
    list-style-type: none;
    position: relative;
    padding: 5px;
    height: 20px;
  }
  .nav-link- {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: -1px 1px 2px #7a7d7d;
    color: #0d464c;
  }
  .nav-link-.mart {
    color: #f05928;
  }

  .nav-link-:hover {
    color: #f05928;
    font-weight: bold;
    text-shadow: 1px 0 2px #8f9494;
    transition: 0.2s;
  }
  .nav-link-.mart:hover {
    text-decoration: underline;
    text-shadow: 1px 0 2px #8f9494;
    transition: 0.2s;
  }

  @media (max-width: 768px) {
    .sign-in .btn-text,
    .profile-btn .btn-text,
    .cart .btn-text {
      display: none;
    }
  }
</style>
<!-- gift -->
<script>
  const tooltipTriggerList = document.querySelectorAll(
    '[data-bs-toggle="tooltip"]'
  );
  const tooltipList = [...tooltipTriggerList].map(
    (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
  );

  const loginBtn = document.getElementById("loginBtn");
  const after_s = document.getElementById("after_s");

  const isloggedIn = localStorage.getItem("isloggedIn");

  if (isloggedIn) {
    loginBtn.style.display = "none";
    after_s.style.display = "inline";
  }
</script>
