<!-- coming soon -->
<!-- forget pass form -->
<div class="forget-Form" id="forgetForm">
  <p>check your Email</p>
  <div class="col-12 d-flex justify-content-center px-0 mb-3">
    <input
      type="text"
      class="form-control"
      id="inputcode"
      placeholder="enter code"
    />
  </div>
  <div>
    <span><a href="">resend code </a></span>
  </div>
  <!-- next -->
  <div class="col-12 d-flex justify-content-center px-0 mb-3">
    <button type="button" class="btn btn-lg w-100">Next</button>
  </div>
</div>
<!-- sign up form -->
<div class="signUp_form" id="form_signUp">
  <!-- full name -->
  <div class="col-12 mb-4">
    <input
      type="text"
      class="form-control"
      id="inputname"
      placeholder="full name"
    />
  </div>

  <!-- email -->
  <div class="col-12 mb-4">
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      placeholder="E-mail"
    />
  </div>

  <!-- phone number -->
  <div class="col-12 mb-4">
    <input
      type="text"
      class="form-control"
      id="inputphone"
      placeholder="phone number"
    />
  </div>

  <!-- password -->
  <div class="col-12 mb-4">
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="Password"
    />
  </div>
  <!--dropdown -->
  <div class="row mb-3">
    <!-- language -->
    <div class="col-md-4">
      <select id="inputLanguage" class="form-select">
        <option hidden>Lang</option>
        <option>English</option>
        <option>العربية</option>
      </select>
    </div>
    <!-- gender -->
    <div class="col-md-4">
      <select id="inputLanguage" class="form-select">
        <option hidden>Gender</option>
        <option>female</option>
        <option>male</option>
      </select>
    </div>
    <!-- Currency -->
    <div class="col-md-4 mb-4">
      <select id="inputCurrency" class="form-select">
        <option hidden>Currency</option>
        <option>USD</option>
        <option>SYP</option>
        <option>AED</option>
      </select>
    </div>
  </div>
  <!-- Policy -->
  <div class="form-check mb-5">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="checkDefault"
    />
    <label class="form-check-label" for="checkDefault">
      I agree to the <a href="/ReturnPolicy">ReturnPolicy</a> &
      <a href="/ReturnPolicy">Shipping Policy</a>
    </label>
  </div>

  <!-- submit sign up -->
  <div class="col-12 d-flex justify-content-center px-0 mb-3">
    <button type="button" class="btn btn-lg w-100" id="signUpButton">
      Creat Account
    </button>
  </div>
  <!-- back -->
  <div class="col-12 d-flex justify-content-center px-0 mb-3">
    <button class="btn btn-back btn-lg w-100" onclick="history.back()">
      back
    </button>
  </div>
</div>
